<div class='row justify-content-center'>
  <div class='col col-8 my-3 px-3'>
    <div class='card'>
      <h1><%= @player.display_name %></h1>
    </div>
  </div>
</div>
<div class='row justify-content-center'>
  <div class='col col-8 my-3 px-3'>
    <div class='card'>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-all-time-tab" data-bs-toggle="tab" data-bs-target="#nav-all-time" type="button" role="tab" aria-controls="nav-all-time" aria-selected="true">All time</button>
          <% @rankings.each do |ranking|%>
            <button class="nav-link nav-season-<%= ranking.id %>" id="nav-season-<%= ranking.id %>-tab" data-bs-toggle="tab" data-bs-target="#nav-season-<%= ranking.id %>" type="button" role="tab" aria-controls="nav-season-<%= ranking.id %>" aria-selected="true"><%= ranking.name %></button>
          <% end %>
        </div>
      </nav>
      <div class='tab-content'>
        <div class="tab-pane fade show active" id="nav-all-time" role="tabpanel" aria-labelledby="nav-all-time" tabindex="0">All time</div>
        <% @rankings.each do |ranking|%>
          <div class='tab-pane fade' id="nav-season-<%= ranking.id %>" role="tabpanel" aria-labelledby="nav-seanson-<%= ranking.id %>" >
            <%= ranking.name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
