<div class='row justify-content-center'>
  <div class="col col-7">
    <%= turbo_frame_tag 'players_ranking'  do %>
      <div class='row'>
        <h1><%= @ranking.name %></h1>
      </div>
      <div class='row'>
        <div class="col col-4">
          <%= render PositionCardComponent.new(placement: @placement, ranking: @ranking) %>
        </div>
        <div class="col col-4">
          <%= render WinrateComponent.new(win_count: @match_win.count , lost_count: @match_lost.count) %>
        </div>
        <div class="col col-4">
          <%= render SetCountComponent.new(match_win: @match_win, match_lost: @match_lost) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
